.box-slider {
    right: 5%;
}

/* Mobile Responsive */

@media only screen and (max-width: 600px) {
    .my-slider {
        max-height: auto !important;
    }
    .slider-img {
        height: inherit !important;
    }
    .box-slider {
        min-width: 100% !important;
        right: 0% !important;
        bottom: 0% !important;
    }

    .box-slider p {
        font-size: 14px !important;
    }
    .subscription .card,
    .support .card {
        margin-bottom: 20px;
    }
}
@media (min-width: 601px) and (max-width: 767px) {
    .my-slider {
        max-height: auto !important;
    }
    .slider-img {
        height: inherit !important;
    }
    .box-slider {
        min-width: 100% !important;
        right: 5% !important;
        bottom: 5% !important;
    }

    .box-slider p {
        font-size: 20px !important;
    }
    .subscription .card,
    .support .card {
        margin-bottom: 20px;
    }
}

/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
    .my-slider {
        max-height: auto !important;
    }
    .slider-img {
        height: inherit !important;
    }
    .box-slider {
        min-width: 100% !important;
        right: 0% !important;
        bottom: 5% !important;
    }

    .box-slider p {
        font-size: 20px !important;
    }
    .subscription .card,
    .support .card {
        margin-bottom: 20px;
    }
}

/* LapTop Responsive */
@media (min-width: 1025px) and (max-width: 1280px) {
    .my-slider {
        max-height: auto !important;
    }
    .slider-img {
        height: inherit !important;
    }
    .box-slider {
        width: 70% !important;
        right: 5% !important;
        bottom: 5% !important;
    }

    .box-slider p {
        font-size: 20px !important;
    }
    .subscription .card,
    .support .card {
        margin-bottom: 20px;
    }
}
